<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="25737563C6D7A.E1547Browser"
    Publisher="CN=08AE6180-69D9-4F58-9803-4063AA29A554"
    Version="1.1.4.0" />

  <mp:PhoneIdentity PhoneProductId="1146dfad-4d6d-406b-85e6-43855c69ae06" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>E621 Browser For UWP</DisplayName>
    <PublisherDisplayName>蔚家旭</PublisherDisplayName>
    <Logo>Assets\AppIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="E621Downloader.App">
      <uap:VisualElements
        DisplayName="E621 Browser For UWP"
        Square150x150Logo="Assets\AppIcons\E621.png"
        Square44x44Logo="Assets\AppIcons\Square44x44Logo.png"
        Description="E621 Browser For UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppIcons\Wide310x150Logo.png" Square71x71Logo="Assets\AppIcons\SmallTile.png" Square310x310Logo="Assets\AppIcons\LargeTile.png" ShortName="E621 Browser For UWP">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\AppIcons\SplashScreen.png"  BackgroundColor="#012e57"/>
        <uap:LockScreen BadgeLogo="Assets\AppIcons\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>